
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    margin-bottom: 0px;
    visibility: none;
}

.sidebar-header {
  padding: 20px;
}

#sidebar-list {

}

#sidebar ul p {
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

@media (max-width: 768px) {
    #sidebar {
        display: none;
    }
}
